includes:
  - ./vendor/larastan/larastan/extension.neon
parameters:
  paths:
    - app
    - bootstrap
    - config
  level: 6
  ignoreErrors:
    - '#Parameter \#1 \$view of function view expects view-string\|null, string given\.#'